@font-face {
  font-family: 'Poppins';
  src: url('http://192.168.31.15/MercadilloGitanillo/public/fuentes/Poppins-Regular.ttf');
}



body{
    height: 100vh;
    width: 100vw;
    font-family: Poppins;
    padding: 0;
    margin: 0;
}
header{
  background-color: white;
  width: 100vw;
  height: 25vh;
  position:fixed;
  z-index: 1000;
  margin: 0;
  top: 0;
  overflow: hidden;
  border-bottom: thin solid #d8dbdd;
}
main{
padding-top: 30vh;
height: 70vh;
position: relative;
background-color: whitesmoke;
}


  hr{
    opacity: 0.5;
    
    margin: 0;
  }

  #cabecera{
    margin-top: 1.5vh;
    width: 100vw;
    height: 3vh;
    display: flex;
    align-items: center;
  }
  #cabecera h2{
    width: 70vw;
    font-size: 1.5vw;
    margin-left: 5%;
  }
  #cabecera form{
    display: flex;
    justify-content: center;
    width: 12vw;
  }
  .btn-sesion{
    width: 4vw;
    height: 3vh;
    background-color: white;
    border-radius: 50px;
    border: thin solid rgb(62, 58, 58);
    font-family: 'Poppins';
    font-size: 0.5vw;
    font-weight: 600;
    transition:0.5s;
  }
  .btn-sesion:hover{
    background-color: lightgray;
    cursor: pointer;
  }
  #cabecera #btn_perfil{
    /* border: solid 3px black; */
    width: 2vw;
    height: 4vh;
    border-radius: 100px;
    overflow: hidden;
  }
  #btn_perfil input{
    width: 100%;
    height: 100%;
  }

  #busqueda{
    margin-bottom: 2%;
    padding-bottom: 10px;
    border-bottom: thin solid #d8dbdd;
    display: flex;
    justify-content: center;
  }
  #busqueda form{
    border:solid 1px black;
    width: fit-content;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0.2vw;
  }
  #cuadroBusqueda{
    width: 20vw;
    font-size: 0.8vw;
    border:none;
  }
  #cuadroBusqueda:focus{
    outline: none;
  }

  
  #filtrar {
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    padding-bottom: 10px;
    width: 100%;
  }
  
  #filtrar form {
    width: 100%;
    display: flex;
    justify-content: center;
   
  }
  
  #filtrar form select {
    box-shadow: 1px 1px 1px 2px #2532381a;
    background-color: #fff;
    width: 10%;
    height: 4vh;
    border-radius: 50px;
    padding: 0.2vh;
    font-size: 0.5vw;
    font-family: 'Poppins';
    border: 1px solid transparent;
    text-align: center;
    transition: 0.5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  #filtrar form select:hover {
    background-color: lightgray;
    cursor: pointer;
    
  }
  
  #precio {
    margin-right: 5%;
  }
  
  #estado {
    margin-left: 5%;
  }






.svg-icon {
  width: 2em;
  height: 2em;
  
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #000000;
}

.svg-icon circle {
  stroke: #000000;
  stroke-width: 1;
}

/* SECTION  */
section{
  margin-top: 20%;
  width: 90%;
  border: none;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.articulos{
  border: solid thin white;
  width: 10vw;
  height: 40vh;
  background-color: white;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.5s;
}
.articulos:hover{
  transform: scale(1.05);
}
.articulos img{
  width: 100%;
  background-size: contain;
  height: 30%;
  margin: 0;
  border-bottom: solid thin black;
  
}
.articulos h4{
  height: 5%;
  width: 100%;
  margin: 0;
  font-size: 0.6vw;
  margin-top: 2%;
}
.descripcion{
  margin: 0;
  width: 40vh;
  min-height: fit-content;
  max-height: 25%;
  font-size: 0.6vw;
  text-align: center;
}
.descripcion p{
  margin: 0;
}
.caracteristicas{
  height: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right:2px;
  padding-left: 2px;
}
.linea{
  margin-left:3px ;
  font-size: 0.5vw;
}
.linea p{
  margin: 0;
}
.enunciado{
  font-weight: bold; 
}
.botonera{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.div-chat{
  width: 3vw;
  height: 100%;
}
.btn-chat{
  width: 2vw;
  height: auto;
  border: none;
  margin-bottom: 10px;

}
.form-chat{
  height: 100%;
  width: 100%;
}

.btn-chat:hover{
  background-color: whitesmoke;
  cursor: pointer;
}
