body {
    height: 90vh;
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    overflow-x:hidden ;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: baseline;
    border-bottom: solid thin black;
    position: fixed;
    background-color: white;
    z-index: 1000;
    margin: 0;
    top: 0;
}

main {
    width: 100vw;
    height: fit-content;
    position: relative;
}

#cabecera1 {
    width: 38vw;
    margin-left: 10%;
    text-align: right;
    font-size: 1.5vw;
}

#cabecera2 {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: right;
}

#btn-anadir {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border-radius: 50px;
    background-color: #13c1ac;
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    transition: 0.5s;
}
#btn-anadir:hover{
    background-color: #11a796;
}

#btn-anadir img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
#btn_perfil{
    width: 55px;
    height: 55px;
    border: none;
}
#btn_perfil input{
    border:none;
}

#cajaProductos{
    padding-top: 5vh;
    width: 90vw;
    text-align: center;
}

/* Estilos para el formulario */
#titulo{
    width: 90vw;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 6%;
    font-family: 'Poppins';
    font-size: 1.5vw;
    letter-spacing: -0.5px;
    word-spacing: -0.2px;
    color: #000000;
    font-weight: bolder;
    text-decoration:none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
}
#cajaForm{
    width: 90vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left:5vw;
    margin-top: 10%;
}
#formularioSubir {
    margin: 0 auto;
    width: 50%;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}


#btn_inicio {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#btn_inicio input {
    border: none;
    width: 50px;
    height: auto;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    appearance: none;
    background: url('arrow.png') no-repeat right center;
}


#filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
#filtros form{
    width: 10%;
    margin: 10px;
}
#filtros form input{
    width: 100%;
    background-color:#13c1ac ;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}
#filtros form input:hover{
    cursor: pointer;
    background-color: #0e9181;
}
#filtros form #marcado{
    background-color: #0e9181; 
}
section{
    margin-top: 20%;
    width: 70vw;
    border: none;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent
    
  }
  .articulos{
    border: solid thin white;
    width: 12vw;
    height: 40vh;
    background-color: white;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.5s;
  }
  .articulos:hover{
    transform: scale(1.05);
  }
  .articulos img{
    width: 100%;
    object-fit: cover;
    height: 30%;
    margin: 0;
    border-bottom: solid thin black;
    
  }
  .articulos h4{
    height: 5%;
    width: 100%;
    margin: 0;
    font-size: 0.6vw;
    margin-top: 2%;
  }
  .descripcion{
    margin: 0;
    width: 40vh;
    min-height: fit-content;
    max-height: 25%;
    font-size: 0.6vw;
    text-align: center;
  }
  .descripcion p{
    margin: 0;
  }
  .caracteristicas{
    height: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right:2px;
    padding-left: 2px;
  }
  .linea{
    margin-left:3px ;
    font-size: 0.5vw;
  }
  .linea p{
    margin: 0;
  }
  .enunciado{
    font-weight: bold; 
  }
  .botonera{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
.div-chat{
    width: 20%;
    height: 100%;
}
.btn-chat{
    width: 50px;
    height: auto;
    border: none;
    margin-bottom: 10px;

}
.form-chat{
    height: 100%;
    width: 100%;
}

.div-lapiz{
    width: 20%;
    height: 100%;
}
.btn-lapiz{
    width: 50px;
    height: auto;
    border: none;
    margin-bottom: 10px;

}
.form-lapiz{
    height: 100%;
    width: 100%;
}


.botonera .div-vendido{
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

.div-vendido .btn-vendido{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color:#13c1ac;
    font-weight:600;
    color: white;
}
.btn-chat:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.btn-vendido:hover{
    background-color: #109e8e;
    cursor: pointer;
}
.btn-lapiz:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.btn-subirProd{
    background-color: rgb(242, 151, 71);
}
.btn-subirProd:hover{
    background-color: rgba(242, 151, 71, 0.637);
    cursor: pointer;
}
#tituloPrincipal{
    width: 90vw;
    text-align: center;
    padding-top: 10vh;
}
#cajaForm{
    width: 90vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

